
body {
    background-color: rgb(236, 236, 236);
    margin:0px;
    font-family: "Roboto", sans-serif;
    color:  rgb(25, 25, 25)
}
p {
    padding: 5px;
}
a{
    text-decoration: none;
    color: inherit
}

.banner{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 10;
}
.page_title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    padding: 10px 0 10px 0;
}
.site_links{
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    background-color: #0f324c;
    
  }
  

/* adapted from https://www.w3schools.com/css/css_navbar.asp */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: all .15s ease-in-out;
    font-size: 20px;
    text-transform: uppercase;
}

li a:hover {
    background-color: rgb(0, 108, 138);
}
.nav_centered{
    position: absolute;
    float: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

  
.Site_Inner{
    display: flex;
    justify-content: center;
    margin: 0 5%;
    padding: 0;
    flex-direction: column;
}
.article_containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: baseline;
    padding-left: 10%;
    padding-right: 10%;
}

.article_containers >a:hover{
    transform: scale(1.02);   
}

.primary_article {
    display: flex;
    flex: 1 1 100%;
    flex-grow: 3;
    transition: transform .3s;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 30%;
    min-width: 300px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    vertical-align: baseline;
    min-height: 500px;
    border-radius: 7px;
    word-wrap: break-word;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary_content{
    flex: 1;
    text-align: center;
    max-width: 40%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
}
.primary_content_image_content {
    flex: 1;
    max-width: 60%;
    background-image: url("./images/Firewall.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}

.secondary_left{
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    overflow: hidden;
    transition: transform .3s;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 30%;
    min-width: 300px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    vertical-align: baseline;
    min-height: 500px;
    border-radius: 7px;
    word-wrap: break-word;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondary_left_content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secondary_left_content_brief{
    padding: 0px 15px 0px 15px;
}
.secondary_left_image{
    flex-grow: 1;
    background-image: url("./images/NetworkTypes.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 60%;
    border-radius: 7px;
}

.secondary_middle_image{
    flex-grow: 1;
    background-image: url("./images/DNS.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 60%;
    border-radius: 7px;
}


.secondary_right_image{
    flex-grow: 1;
    background-image: url("./images/malware.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 60%;
    border-radius: 7px;
}

.category_dns_image{
    flex: 1;
    max-width: 60%;
    background-image: url("./images/DNS.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.category_network_services_image{
    flex: 1;
    max-width: 60%;
    background-image: url("./images/NetworkTypes.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.category_firewall_image{
    flex: 1;
    max-width: 60%;
    background-image: url("./images/Firewall.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.category_common_attacks_image{
    flex: 1;
    max-width: 60%;
    background-image: url("./images/malware.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.background_image {
    z-index: -1;
    margin: 0;
    min-height: 300px;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    
    
  }
  .main_content {
    flex-basis: auto;
    align-self: center;
    padding: 70px 5% 30px;
    min-height: 230px;
    font-size: 24px;
    line-height: 1.6em;
    background: #fff;
    margin-top: -300px;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

.quiz_Inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: baseline;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.quiz_containter{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
/*Design code for the answer blocks was inspired by this example by Matt Windle on codepen:
https://codepen.io/MattWindle/pen/perZRG */
.answer_box{
    background: #0f324c;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    transition: transform .3s;
}
.answer_box:hover{
    transform: scale(1.03);
    background-color: rgb(0, 108, 138);
}
.quiz_footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.next_button{
    background-color: #0f324c;
    color:#fff;
    border-radius:10px;
    font-size:30px;
    transition: transform .3s;
    padding: 10px;

}
.next_button:hover{
    transform: scale(1.03);
    background-color: rgb(0, 108, 138);
}
.question_title{
   background-color: #fff;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}

.hidden{
    visibility:hidden; 
    display:none;
}
.open_quiz_bttn{
    background-color: #0f324c;
    color:#fff;
    border-radius:10px;
    font-size:30px;
    transition: transform .3s;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.open_quiz_bttn:hover{
    transform: scale(1.03);
    background-color: rgb(0, 108, 138)
}
@media screen and (max-width: 800px) {
    .open_quiz_bttn{
        font-size: 20px;
    }
    .background_image{
        height: 400px;
        
    }
    .main_content{
        font-size: 1rem;;
        margin-top: -200px;
        max-width: 75%;
        left: 15%
    }
    .quiz_Inner{
        padding-left: 5%;
        padding-right: 5%;
    }
    .quiz_containter{
        font-size: 15px;
        max-width: auto;
    }
    .primary_article{
        display: flex;
        flex: 1 1 300px;
        flex-direction: column;
        overflow: hidden;
        transition: transform .3s;
        background-color: rgb(255, 255, 255);
        text-align: center;
        width: 30%;
        min-width: 300px;
        margin: 20px;
        text-align: center;
        font-size: 20px;
        vertical-align: baseline;
        min-height: 500px;
        border-radius: 7px;
        word-wrap: break-word;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .primary_content_image_content{
        order: 1;
        flex: 1;
        max-width: 100%;
        background-image: url("./images/Firewall.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 7px;
    }
    .primary_content{

        flex: 1;
        text-align: center;
        max-width: 100%;
        padding: 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 22px;
    }
    .category_dns_image {
        order: 1;
        flex: 1;
        max-width: 100%;
        background-image: url("./images/DNS.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 7px;
      }
    .category_network_services_image{
        order: 1;
        flex: 1;
        max-width: 100%;
        background-image: url("./images/NetworkTypes.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 7px;
    }
    .category_common_attacks_image{
        order: 1;
        flex: 1;
        max-width: 100%;
        background-image: url("./images/malware.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 7px;
    }
    .category_firewall_image{
        order: 1;
        flex: 1;
        max-width: 100%;
        background-image: url("./images/Firewall.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 7px;
    }
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        transition: all .15s ease-in-out;
        font-size: 16px;
        text-transform: uppercase;
    }
    .page_title{
        display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    padding: 10px 0 10px 0;
    }
    .question_title {
        /* position: relative; */
        /* padding: 1% 1%; */
        /* font-family: Georgia,serif; */
        font-size: 1.6rem;
        line-height: 1.2em;
        background: #fff;
        /* margin-top: 20px; */
        /* max-width: 50%; */
        /* left: 24%; */
        /* right: 10%; */
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }
}